img.goog-te-gadget-icon{
    display: none !important;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed{
    display: flex !important;
}

.goog-te-gadget-simple
{
    background-color: #f8f9fab6 !important;
    border-radius: 10px !important;
    border: none !important;
    padding: 8px 20px !important;
}

element.style  {
    padding: 20px ;
    background-color: aliceblue;
}