.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

    .VIpgJd-ZVi9od-ORHb-OEVmcd
    {
        display: none ;
    }

    * {
        font-family: 'Poppins', sans-serif;
    }